* {
    box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    position: relative;
    padding-top: 5px;
    height: 60vh;
    width: 100%;
    background-image: url("./assets/diferente-fast-food-em-um-plano-sobre-um-fundo-vermelho-espaco-de-texto-ia-geradora_1219132-15032.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#header::after {
  content: '';
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 60vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

#header h1, h3, h4, h5 {
    position: relative;
    z-index: 2; /* fica acima da camada escura */
}
#localizar{
    position: relative;
    z-index: 2; /* fica acima da camada escura */
}

#doordash {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

#iconeDoordash-red {
    width: 3vw;
}

#doordash2 {
    color: white;
    text-align: center;
}

#signInsignUp {
    display: flex;
    position: absolute;
    align-items: center;
    right: 50px;
    gap: 20px;
}

#signIn {
    color: white;
    cursor: pointer; 
}

#signUp {
    color: black;
    background-color: white;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
}

#restaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1px;
}

h1 {
    color: white;
    font-size: 35px;
}

h5 {
    color: white;

}

h6 {
    color: white;

}

#search {
    display: flex;
    align-items: center;

}

#input {
    display: flex;
    margin-top: 8px;
}

#divArredondada {
    height: 4.3vh;
    width: 2vw;
    background-color: red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -35px;
    margin-top: 5px;

}

input {
    height: 6vh;
    width: 20vw;
    border-radius: 25px;
    border: none;
    padding-left: 35px;
}

#divArredondada i {
    color: white;
    cursor: pointer;
}

#searchIcon {
    margin-left: 15px;
    position: absolute;
    margin-top: 9px;
}

#searchIcon i {
    cursor: pointer;
    color: rgb(189, 185, 185);
}
#localizar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    flex-direction: column;
}

.sublinhado {
    text-decoration: underline;cursor: pointer;
}

.title {
    color: black;
}

.text {
    color: black;
}

#exampleSection{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 60%;
    margin: 4vh auto;
    padding: 20px 0;
}

.classExample {
    width: 15vw;
    text-align: center;
}

.classExample img {
    width: 50%;
    height: 75px;
    border-radius: 10px;
}

#entregador {
    width: 70%;
    height: 95px;
    border-radius: 10px;
}

.classExample a {
    color: orangered;
    font-weight: bold;
    text-decoration: none;
}

#exampleSection-2 {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    width: 100%;
    margin: 0;
    padding: 40px;
    align-items: center;
    gap: 70px;
    margin-bottom: 20px;
}

#refeicao-2 {
    width: 30vw;
}

.classExample-2 {
    width: 24vw;
    text-align: left;
}

.classExample-2 h2 {
    margin-top: -50px;
}

.classExample-2 a {
    color: white;
    background-color: orangered;
    border-radius: 20px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

#exampleSection-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    width: 100%;
    height: 480px;
    margin: 0;
    padding: 2px;
    background-color: rgba(255, 160, 122, 0.277);
    box-sizing: border-box;
    gap: 70px;
    margin-top: -80px;
    padding-top: 80px;
    padding-bottom: 80px;
}

#refeicao-3 {
    width: 30vw;
}

.classExample-3 {
    width: 23vw;
    text-align: left;
}

.classExample-3 a {
    color: white;
    background-color: orangered;
    border-radius: 20px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

.classExample-3 h2 {
    margin-top: -50px;
}

.container {
    align-items: stretch;
    min-height: 100vh;
}

footer {
    display: flex;
    background-color: black;
    color: white;
    width: 100%;
    height: 700px;
    margin: 0;
    margin-top: -20px;
    font-size: 8px;
    gap: 50px;
    flex-direction: column;
}

#first {
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 50px;
    color: gray;
    margin-top: 20px;
}

#second {
    display: flex;
    margin-left: 460px;
    gap: 50px;
    color: grey;
}

#third {
    display: flex;
    margin-left: 440px;
    gap: 10px;
    color: grey;
}

#iconeDoordash {
    width: 4vw;
    background-color: gray;
    margin-top: -20px;
}

#final {
    width: 100%;
    height: 10px;
    background-color: white;
}

