body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    padding-top: 5px;
    height: 60vh;
    width: 100%;
    background-image: url("./assets/diferente-fast-food-em-um-plano-sobre-um-fundo-vermelho-espaco-de-texto-ia-geradora_1219132-15032.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#header::after {
  content: '';
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 60vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

#header h1, h3, h4, h5 {
    position: relative;
    z-index: 2; /* fica acima da camada escura */
}
#localizar{
    position: relative;
    z-index: 2; /* fica acima da camada escura */
}

#doordash {
    display: flex;
    justify-content: space-between;
    margin-left: 580px;
    margin-bottom: 40px;
}

#doordash2 {
    color: white;
    justify-content: center;
}

#signInsignUp {
    display: flex;
}

#signIn {
    color: white;
    margin-right: 20px;
}

#signUp {
    color: black;
    margin-right: 20px;
}

#restaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1px;
}

h1 {
    color: white;
    font-size: 35px;
}

h5 {
    color: white;

}

h6 {
    color: white;

}

#search {
    display: flex;
    align-items: center;

}

#input {
    display: flex;
    margin-top: 8px;
}

#divArredondada {
    height: 4.3vh;
    width: 2vw;
    background-color: red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -35px;
    margin-top: 5px;

}

input {
    height: 6vh;
    width: 20vw;
    border-radius: 25px;
    border: none;
    padding-left: 35px;
    background-color: rgb(189, 185, 185);
}

#divArredondada i {
    color: white;
}

#searchIcon {
    margin-left: 15px;
    position: absolute;
    margin-top: 9px;

}

#searchIcon i {
    cursor: pointer;
    color: white;
}
#localizar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    flex-direction: column;
}

.sublinhado {
    text-decoration: underline;
}

.title {
    color: black;
}

.text {
    color: black;
}
#exampleSection{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    margin-top: 8vh;
}
.classExample{
    width: 20vw;
}
.classExample img{
    width: 15vw;
}
.classExample a {
    color: orangered;
    font-weight: bold;

    text-decoration: none;
}